<html>
<head>
    <title></title>
    <style>
        table { border-collapse: collapse;width:90%;table-layout:fixed;word-wrap:break-word;word-break:break-all}
        table,table tr th, table tr td { border:1px solid #000000; }
    </style>
</head>
<body>

<table  align="center"/>
<caption>应用后台（未登录状态）</caption>

<tr>
    <th align="left" valign="middle">项</th>
    <th align="left" valign="middle">值/链接</th>
    <th align="left" valign="middle">文档</th>
</tr>
<tr>
    <td align="left" valivalign="center">扫码授权登录链接</td>
    <td align="left" valivalign="center">努力中...</td>
    <td align="left" valivalign="center"><a target="_blank" href="https://work.weixin.qq.com/api/doc/90001/90143/91123">https://work.weixin.qq.com/api/doc/90001/90143/91123</a></td>
</tr>

</table>

<div th:insert="~{contact :: contact}"></div>

</body>