### Mac
.DS_Store
*/.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
log/

### Maven
target/
logs/
!.mvn/wrapper/maven-wrapper.jar

###qywx
dump.rdb
application-testh5.yml
application-testxcx.yml
application-prodh5.yml
application-prodxcx.yml