<html>
<head>
    <title></title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0" />
    <style>
        table { border-collapse: collapse;width:99%;table-layout:fixed;word-wrap:break-word;word-break:break-all}
        table,table tr th, table tr td { border:1px solid #000000; }
    </style>

</head>
<body>

<table  align="center"/>
<caption>素材管理相关</caption>
<tr>
    <th align="left" valign="middle">项</th>
    <th align="left" valign="middle">值/链接</th>
    <th align="left" valign="middle">文档</th>
</tr>

<tr>
    <td align="left" valivalign="center">上传临时素材</td>
    <td align="left" valivalign="center">  </div></td>
    <td align="left" valivalign="center"> </td>
</tr>

<tr>
    <td align="left" valivalign="center">获取临时素材</td>
    <td align="left" valivalign="center">  <a target="_blank" th:href="${mdedia_download_url}" th:text="${mdedia_download_url}">  </a>   </div></td>
    <td align="left" valivalign="center"> <a target="_blank" href="">文档</a></td>
</tr>


</table>

<div th:insert="~{contact :: contact}"></div>


</body>