<html>
<head>
    <title></title>
    <style>
        table { border-collapse: collapse;width:90%;table-layout:fixed;word-wrap:break-word;word-break:break-all}
        table,table tr th, table tr td { border:1px solid #000000; }
    </style>
</head>
<body>

<table  align="center"/>
<caption id = "login-success" >应用后台（已登录状态）</caption>

<tr>
    <th align="left" valign="middle">项</th>
    <th align="left" valign="middle">值/链接</th>
    <th align="left" valign="middle">文档</th>
</tr>


<tr>
    <td align="left" valivalign="center">服务商 provider_access_token</td>
    <td align="left" valivalign="center"> <div th:text="${provider_access_token}"></div> </td>
    <td align="left" valivalign="center">  </td>
</tr>

<tr>
    <td align="left" valivalign="center">企业acess_token</td>
    <td align="left" valivalign="center"> <div th:text="${access_token}"></div> </td>
    <td align="left" valivalign="center">  </td>
</tr>


<tr>
    <td align="left" valivalign="center">登录信息</td>
    <td align="left" valivalign="center"> <div th:text="${user_id}"></div>  <div th:text="${corp_id}"></div> </td>
    <td align="left" valivalign="center">  使用jwt  </td>
</tr>

<tr>
    <td align="left" valivalign="center">通讯录相关</td>
    <td align="left" valivalign="center">  <a target="_blank" th:href="${contact_url}" th:text="${contact_url}">  </a> </div></td>
    <td align="left" valivalign="center"> <a target="_blank" href="https://open.work.weixin.qq.com/api/doc/90001/90143/90329">https://work.weixin.qq.com/api/doc/90000/90136/90514</a></td>
</tr>

<tr>
    <td align="left" valivalign="center">客户联系相关</td>
    <td align="left" valivalign="center">  <a target="_blank" th:href="${extcontact_url}" th:text="${extcontact_url}">  </a> </div></td>
    <td align="left" valivalign="center"> <a target="_blank" href="https://open.work.weixin.qq.com/api/doc/90001/90143/92238">文档</a></td>
</tr>

<tr>
    <td align="left" valivalign="center">消息推送相关</td>
    <td align="left" valivalign="center">  <a target="_blank" th:href="${message_url}" th:text="${message_url}">  </a> </div></td>
    <td align="left" valivalign="center"> <a target="_blank" href="https://open.work.weixin.qq.com/api/doc/90000/90135/90235">文档</a></td>
</tr>

<tr>
    <td align="left" valivalign="center">素材管理相关</td>
    <td align="left" valivalign="center">  <a target="_blank" th:href="${media_url}" th:text="${media_url}">  </a> </div></td>
    <td align="left" valivalign="center"> <a target="_blank" href="https://open.work.weixin.qq.com/api/doc/90001/90143/91197">文档</a></td>
</tr>

</table>

<div th:insert="~{contact :: contact}"></div>

</body>