<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="contact">

    <br/>
    <table  align="center"/>'
    <br/>
    <br/>
    <caption>ToB Dev李月喜，企业微信开发第三方应用开发篇demo的java版</caption>
    <br/>
    <tr>
        <th align="left" valign="middle">项</th>
        <th align="left" valign="middle">值/链接</th>
        <th align="left" valign="middle">说明</th>
    </tr>

    <tr>
        <td align="left" valign="middle">github demo 源码</td>
        <td align="left" valign="middle"><a target="_blank" href="https://github.com/liyuexi/qywx-guide">https://github.com/liyuexi/qywx-guide</a></td>
        <td align="left" valign="middle">企业微信开发概述，自建内部应用，第三方应用，家校应用，政务微信私有部署相关</td>

    </tr>

    <tr>
        <td align="left" valign="middle">第三方应用视频课程</td>
        <td align="left" valign="middle"><a target="_blank" href="https://mp.weixin.qq.com/mp/appmsgalbum?action=getalbum&album_id=1503367187451936773&__biz=MzA5ODcyODY0Nw==#wechat_redirect">https://mp.weixin.qq.com/mp/appmsgalbum?action=getalbum&album_id=1503367187451936773&__biz=MzA5ODcyODY0Nw==#wechat_redirect</a></td>
        <td align="left" valign="middle">企业微信开发第三方应用开发篇</td>

    </tr>


    <tr>
        <td align="left" valign="middle">微信</td>
        <td align="left" valign="middle">li570467731</td>
        <td align="left" valign="middle"> 备注"企业微信"加我拉你进企业微信开发同行群</td>

    </tr>
    <tr>
        <td align="left" valign="middle">微信公众号</td>
        <td calign="left" valign="middle"> ToB Dev </td>
        <td calign="left" valign="middle">专注企业服务B端开发分享</td>
    </tr>
    <tr>
        <td align="left" valign="middle">服务</td>
        <td calign="left" valign="middle">咨询/合作</td>
        <td calign="left" valign="middle">企业微信开发问题咨询，企业微信相关合作</td>
    </tr>
    </table>
</div>

</body>
</html>