<html>
<head>
    <title></title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0" />
    <style>
        table { border-collapse: collapse;width:99%;table-layout:fixed;word-wrap:break-word;word-break:break-all}
        table,table tr th, table tr td { border:1px solid #000000; }
    </style>

</head>
<body>

<table  align="center"/>
<caption>通讯录相关</caption>
<tr>
    <th align="left" valign="middle">项</th>
    <th align="left" valign="middle">值/链接</th>
    <th align="left" valign="middle">文档</th>
</tr>

<tr>
    <td align="left" valivalign="center">企业access_token</td>
    <td align="left" valivalign="center"> <div th:text="${corp_access_token}">  </div> </div></td>
    <td align="left" valivalign="center"> <a></a></td>
</tr>

<tr>
    <td align="left" valivalign="center">获取部门</td>
    <td align="left" valivalign="center">  <a target="_blank" th:href="${dept_url}" th:text="${dept_url}">  </a>  </div></td>
    <td align="left" valivalign="center"> <a target="_blank" href="https://open.work.weixin.qq.com/api/doc/90001/90143/90344" > https://open.work.weixin.qq.com/api/doc/90001/90143/90344 </a></td>
</tr>

<tr>
    <td align="left" valivalign="center">获取部门成员</td>
    <td align="left" valivalign="center">  <a target="_blank" th:href="${user_url}" th:text="${user_url}">  </a>  </div></td>
    <td align="left" valivalign="center"> <a target="_blank" href="https://open.work.weixin.qq.com/api/doc/90001/90143/90337">https://open.work.weixin.qq.com/api/doc/90001/90143/90337 </a></td>
</tr>


<tr>
    <td align="left" valivalign="center">通讯录组件显示</td>
    <td align="left" valivalign="center">  <a target="_blank" th:href="${opendata_url}" th:text="${opendata_url}">  </a>  </div></td>
    <td align="left" valivalign="center"> <a target="_blank" href="https://work.weixin.qq.com/api/doc/90001/90143/91958">https://work.weixin.qq.com/api/doc/90001/90143/91958 </a></td>
</tr>

<tr>
    <td align="left" valivalign="center">通讯录id转译</td>
    <td align="left" valivalign="center">  <a target="_blank" th:href="${trans_url}" th:text="${trans_url}">  </a>  </div></td>
    <td align="left" valivalign="center"> <a target="_blank" href="https://open.work.weixin.qq.com/api/doc/90001/90143/91845">https://open.work.weixin.qq.com/api/doc/90001/90143/91845 </a></td>
</tr>


</table>

<div th:insert="~{contact :: contact}"></div>


</body>